.about__wrapper {
  padding-bottom: 20px;
  word-break: break-word;
}

.about__bg {
  min-height: 388px;
  background: url("../../img/backgrounds/about-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: -14px -5px;

  @media (min-resolution: $retina) {
    background-image: url("../../img/backgrounds/about-bg@2x.png"), 320px auto;
  }
}

.about__title {
  @include h2;

  margin-top: 48px;
  margin-bottom: 42px;
}

.about h3 {
  @include h5;

  margin-top: 25px;
}

.about p {
  @include text-regular;

  margin-top: 15px;
}

@media (min-width: $width-tablet) {
  .about__wrapper {
    width: 769px;
    margin: 0 auto;
    padding-bottom: 40px;
  }

  .about__bg {
    width: 450px;
    min-height: 569px;
    background: url("../../img/backgrounds/about-bg-tablet.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: -141px 65px;
    position: absolute;
    left: 0;

    @media (min-resolution: $retina) {
      background-image: url("../../img/backgrounds/about-bg-tablet@2x.jpg"), 453px auto;
    }
  }

  .about__content-wrapper {
    width: 768px;
    margin: 0;
    padding-left: 449px;
    padding-right: 49px;
  }

  .about__title {
    margin-top: 60px;
    margin-bottom: 48px;
  }

  .about__title.title[data-shadow] {
    width: 270px;
  }

  .about h3 {
    margin-top: 30px;
  }

  .about p {
    margin-top: 10px;
  }
}

@media (min-width: $width-desktop) {
  .about__wrapper {
    padding-top: 90px;
    padding-bottom: 100px;
    width: 1440px;
  }

  .about__bg {
    width: 660px;
    min-height: 498px;
    background: url("../../img/backgrounds/about-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 10px;

    @media (min-resolution: $retina) {
      background-image: url("../../img/backgrounds/about-bg@2x.png"), 660px auto;
    }
  }

  .about__content-wrapper {
    width: 1440px;
    padding-right: 50px;
    padding-left: 660px;
    padding-bottom: 80px;
  }

  .about__title {
    margin-top: 60px;
    margin-bottom: 58px;
  }

  .about__title.title[data-shadow] {
    width: 660px;
  }

  .about h3 {
    margin-top: 30px;
  }

  .about p {
    width: 585px;
    margin-top: 15px;
    font-size: 14px;
    line-height: 22px;
  }
}
