.adv__wrapper {
  padding-top: 37px;
  padding-bottom: 20px;
}

.adv__title {
  @include h2;
  text-align: center;
}

.adv .title[data-shadow]::after {
  text-shadow: 37px -15px 1px rgba(45, 56, 63, 0.03);
}

.adv__slider {
  margin-top: 37px;
}

.swiper-5 .swiper-wrapper {
  @include list-reset;
  flex-direction: column;
  gap: 15px;
}

.swiper-5 .swiper-slide {
  padding: 20px 10px;
  background: $primary-background-color;
  border: 1px solid rgba(2, 102, 193, 0.1);
  text-align: center;
}

.swiper-5 .swiper-slide__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  width: 42px;
  height: 42px;
  border: 2px solid $secondary-icon-color;
}

.swiper-5 .swiper-slide h3 {
  @include adv-title;
  margin-top: 19.5px;
  padding: 0 10px;
}

.swiper-5 .swiper-slide p {
  @include text-small;
  margin-top: 14px;
}

@media (min-width: $width-tablet) {
  .adv {
    background: url('../../img/backgrounds/adv-bg-tablet.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 0 165px;

    @media (min-resolution: $retina) {
      background-image: url("../../img/backgrounds/adv-bg-tablet@2x.png'"), 2091px auto;
    }
  }

  .adv__wrapper {
    padding-top: 60px;
    padding-bottom: 40px;
    padding-right: 46px;
    padding-left: 44px;
  }

  .adv .title[data-shadow] {
    width: 678px;
  }

  .adv .title[data-shadow]::after {
    text-shadow: 171px -15px 1px rgba(45, 56, 63, 0.03);
  }

  .adv__slider {
    margin-top: 60px;
  }

  .swiper-5 .swiper-wrapper {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0;
    justify-content: center;
    width: 708px;
  }

  .swiper-5 .swiper-slide {
    width: 324px;
    min-height: 340px;
    margin-bottom: 30px;
    padding: 30px 19px 29px 19px;
  }

  .swiper-5 .swiper-slide__icon {
    width: 48px;
    height: 48px;
  }

  .swiper-5 .swiper-slide h3 {
    margin-top: 25px;
  }

  .swiper-5 .swiper-slide--herb h3 {
    padding-right: 12px;
  }

  .swiper-5 .swiper-slide p {
    margin-top: 15px;
  }
}

@media (min-width: $width-desktop) {
  .swiper-5 .swiper-slide p {
    font-size: 14px;
    line-height: 22px;
  }
}
