.contacts__wrapper {
  padding-top: 37px;
  padding-bottom: 29px;
  word-break: break-word;
}

.contacts__title {
  @include h2;
}

.contacts__wrapper p {
  @include text-regular;

  margin-top: 29px;
}

.contacts__list {
  @include list-reset;

  margin-top: 30px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 30px;
}

.contacts__item {
  display: flex;
  gap: 10px;
}

.contacts__icon {
  display: block;
  width: 22px;
  height: 22px;

  &--phone {
    background-image: url("/__spritemap#sprite-phone-view");
    background-position: left -1px;
    background-repeat: no-repeat;
    background-size: 22px;
    width: 22px;
    height: 23px;
  }

  &--mail {
    background-image: url("/__spritemap#sprite-mail-view");
    background-position: left -1px;
    background-repeat: no-repeat;
    background-size: 22px;
    width: 22px;
    height: 23px;
  }

  &--pin {
    background-image: url("/__spritemap#sprite-pin-dark-view");
    background-position: left -1px;
    background-repeat: no-repeat;
    background-size: 22px;
    width: 22px;
    height: 23px;
  }
}

.contacts__text-wrapper {
  max-width: 189px;
}

.contacts__text {
  @include adv-title;
}

.contacts__info {
  @include text-regular;

  display: block;
  margin-top: 8px;
  color: $primary-text-color;
  text-decoration: none;
}

.contacts__map-wrapper {
  position: relative;
  width: 320px;
  margin: 0 auto;

  &::after {
    content: "";
    background: url("/__spritemap#sprite-pin-map-view");
    width: 28px;
    height: 28px;
    position: absolute;
    top: 50%;
    right: 29.5%;
  }
}

.contacts__map {
  display: block;
  object-fit: cover;
  margin: 0 auto;
  margin-bottom: 20px;
  position: relative;
  left: -0.3px;
  background-color: #f2f3f4;
}

@media (min-width: $width-tablet) {
  .contacts__wrapper {
    padding: 59.5px 35px 40px 44px;
  }

  .contacts__wrapper p {
    font-size: 16px;
    line-height: 24px;
    max-width: 570px;
    margin-top: 20.5px;
  }

  .contacts__list {
    margin-top: 40px;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 42.5px;
  }

  .contacts__icon {
    width: 24px;
    height: 24px;

    &--phone {
      background-position: left;
      background-size: 24px;
      width: 24px;
      height: 24px;
    }

    &--mail {
      background-position: left;
      background-size: 24px;
      width: 24px;
      height: 24px;
    }

    &--pin {
      background-position: left;
      background-size: 24px;
      width: 24px;
      height: 24px;
    }
  }

  .contacts__text-wrapper {
    max-width: 288px;
  }

  .contacts__info {
    font-size: 14px;
    line-height: 22px;
    margin-top: 6px;
  }

  .contacts__map-wrapper {
    margin: 0 auto;
    width: 768px;

    &::after {
      width: 42px;
      height: 42px;
      top: 53.5%;
      right: 44.5%;
    }
  }

  .contacts__map {
    margin-bottom: 39px;
    width: 768px;
    height: 340px;
    left: -0.7px;
  }
}

@media (min-width: $width-desktop) {
  .contacts {
    padding: 123.5px 120px 0;
    display: grid;
    grid-template-columns: repeat(2, 600px);
    align-items: center;
    margin-bottom: 95px;
    justify-content: space-between;
  }

  .contacts__title {
    max-width: 500px;
  }

  .contacts__wrapper {
    padding: 0;
    width: 600px;
  }

  .contacts__wrapper p {
    max-width: 500px;
    margin-top: 22.5px;
  }

  .contacts__list {
    margin-top: 48px;
    flex-direction: column;
    gap: 35px;
  }

  .contacts__item {
    gap: 30px;
    align-items: center;
  }

  .contacts__icon {
    width: 26px;
    height: 26px;

    &--phone {
      background-size: 26px;
      width: 26px;
      height: 26px;
    }

    &--mail {
      background-size: 26px;
      width: 26px;
      height: 26px;
    }

    &--pin {
      background-size: 26px;
      width: 26px;
      height: 26px;
    }
  }

  .contacts__text-wrapper {
    max-width: 500px;
  }

  .contacts__info {
    margin-top: 8px;
    font-size: 16px;
    line-height: 24px;
  }

  .contacts__map-wrapper {
    margin: 0;
    width: 600px;
    height: 324px;

    &::after {
      width: 48px;
      height: 48px;
      top: 49.5%;
      right: 32%;
    }
  }

  .contacts__map {
    margin-bottom: 0;
    width: 600px;
    height: 324px;
    left: 0;
    margin-top: -7px;
  }
}
