.footer__wrapper {
  padding-top: 23px;
  padding-bottom: 20px;
  border-top: 1px solid rgba(45, 56, 63, 0.2);
  word-break: break-word;
}

.footer__logo {
  display: block;
  margin: 0 auto;
}

.footer__nav {
  margin-top: 20px;
}

.footer__social {
  margin-top: 20px;
}

.footer__copyright {
  @include captions-small;
  display: block;
  color: $primary-text-color;
  text-decoration: none;
  text-align: center;
  margin-top: 22px;
}

.footer__copyright:hover {
  opacity: 0.5;
}

.footer__copyright:active {
  opacity: 0.3;
}

.footer__copyright.disabled {
  color: $disabled-button-color;
  pointer-events: none;
  cursor: default;
}

.footer__phone {
  display: none;
}

@media (min-width: $width-tablet) {
  .footer__wrapper {
    padding: 34px 46px 20px 44px;
  }

  .footer__nav-wrapper {
    display: flex;
    gap: 42px;
  }

  .footer__logo {
    margin: 0;
  }

  .footer__nav {
    margin-top: 0;
    padding-top: 11px;
  }

  .footer__social {
    margin-top: 34px;
  }

  .footer__copyright {
    margin-top: 34px;
  }
}

@media (min-width: $width-desktop) {
  .footer__wrapper {
    padding: 45px 120px;
  }

  .footer__nav-wrapper {
    display: grid;
    grid-template-columns: 200px 800px 200px;
    gap: 0;
  }

  .footer__logo {
    margin: 0 auto;
  }

  .footer__nav {
    padding-top: 3px;
  }

  .footer__phone {
    display: block;
    width: 200px;
    color: $primary-text-color;
    text-align: end;
  }

  .footer__social {
    margin-top: 22px;
  }

  .footer__copyright {
    margin-top: 22px;
  }
}
