.header {
  background: $secondary-background-color;
}

.header__wrapper {
  padding-top: 15px;
  padding-bottom: 15px;

  display: grid;
  grid-template-columns: 148px 142px;
}

.header__button {
  width: 26px;
  height: 26px;

  border: none;
  background: none;
  padding: 0;
}

.header__nav {
  display: none;
}

.header__phone {
  @include h6;
  text-align: end;
  display: block;
  margin-top: 14px;
  grid-column: 2 / 3;
  color: $secondary-text-color;
  text-decoration: none;
}

@media (min-width: $width-tablet) {
  .header__wrapper {
    padding-top: 20px;
    padding-bottom: 20px;
    grid-template-columns: repeat(3, 216px);
    gap: 10px;
  }

  .header__button {
    padding-top: 8px;
  }

  .header__logo {
    margin: 0 auto;
  }

  .header__phone {
    grid-column: auto;
    margin-top: 0;
    padding-top: 13px;
  }
}

@media (min-width: $width-desktop) {
  .header__wrapper {
    padding-top: 42px;
    padding-bottom: 42px;
    grid-template-columns: 205px 818px 157px;
  }

  .header__button {
    display: none;
  }

  .header__nav {
    display: block;
    padding-top: 12px;
  }

  .header__phone {
    padding-top: 12px;
  }
}
