.header {
  background: $secondary-background-color;
  z-index: 6;
}

.header__wrapper {
  padding: 15px;
  padding-bottom: 14px;

  display: grid;
  grid-template-columns: repeat(2, 1fr);

  position: relative;
}

.header__button {
  width: 26px;
  height: 26px;

  border: none;
  background: none;
  padding: 0;
  cursor: pointer;
}

.header__nav {
  display: none;
}

.header__nav.active {
  display: block;
  position: absolute;
  top: 97px;
}

.header__logo {
  margin-left: auto;
}

.header__phone {
  @include h6;

  text-align: end;
  display: block;
  margin-top: 16px;
  grid-column: 2 / 3;
  color: $secondary-text-color;
  text-decoration: none;
}

@media (min-width: $width-tablet) {
  .header__wrapper {
    min-width: 768px;
    padding: 20px 45px;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
    margin: 0 auto;
  }

  .header__button {
    padding-top: 8px;
  }

  .header__nav.active {
    display: block;
    position: absolute;
    top: 80px;
  }

  .header__logo {
    margin: 0 auto;
  }

  .header__phone {
    grid-column: auto;
    margin: 0;
    margin-right: 2.5px;
    padding-top: 15px;
  }
}

@media (min-width: $width-desktop) {
  .header__wrapper {
    width: 1440px;
    padding: 42px 120px;
    grid-template-columns: 206px 806px 157px;
  }

  .header__button {
    display: none;
  }

  .header__nav {
    display: block;
    padding-top: 12px;
  }

  .header__phone {
    padding-top: 14px;
    margin-right: 0;
  }
}
