.swiper-1 {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  z-index: 1;
  position: relative;
}

.swiper-1 .swiper-wrapper {
  @include list-reset;
}

.swiper-1 .swiper-slide {
  color: $secondary-text-color;
  text-align: center;
  min-height: 568px;

  &::after {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(112.1deg, rgba(15, 20, 41, 0.33) 17.23%, rgba(15, 20, 41, 0) 94.93%);
  }
}

.swiper-1 .swiper-slide--1 {
  background-image: url('../../img/hero/hero-1-mobile.jpg');
  background-color: #6c90b8;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  @media (min-resolution: $retina) {
    background-image: url("../../img/hero/hero-1-mobile@2x.jpg"), 320px auto;
  }
}

.swiper-1 .swiper-slide--2 {
  background-image: url('../../img/hero/hero-2-mobile.jpg');
  background-color: #6c90b8;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  @media (min-resolution: $retina) {
    background-image: url("../../img/hero/hero-2-mobile@2x.jpg"), 320px auto;
  }
}

.swiper-1 .swiper-slide--3 {
  background-image: url('../../img/hero/hero-3-mobile.jpg');
  background-color: #6c90b8;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  @media (min-resolution: $retina) {
    background-image: url("../../img/hero/hero-3-mobile@2x.jpg"), 320px auto;
  }
}

.swiper-1 .swiper-slide__wrapper {
  padding-top: 82px;
  padding-bottom: 100px;
  min-height: 568px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 3;
}

.swiper-1 .swiper-slide__wrapper h2 {
  @include hero-title;
}

.swiper-1 .swiper-slide__wrapper p {
  @include text-big;
  margin-top: 15px;
}

.swiper-1 .swiper-slide__button {
  @include button-regular;
  margin-top: 60px;
  width: 180px;
}

.swiper-1 .swiper-slide__img {
  display: none;
}

.swiper-1 .swiper-info {
  display: none;
}

.swiper-1 .swiper-pagination {
  position: absolute;
  bottom: 40px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.swiper-1 .swiper-pagination-bullet {
  display: block;
  width: 16px;
  height: 16px;
  border: 1px solid #ffffff;
  border-radius: 100%;
  cursor: pointer;
}

.swiper-1 .swiper-pagination-bullet-active {
  background-color: #ffffff;
}

@media (min-width: $width-tablet) {
  .hero {
    width: 99.98%;
  }

  .swiper-1 .swiper-slide--1 {
    background-image: url('../../img/hero/hero-1-tablet.jpg');
    background-color: #6c90b8;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    @media (min-resolution: $retina) {
      background-image: url("../../img/hero/hero-1-tablet@2x.jpg"), 768px auto;
    }
  }

  .swiper-1 .swiper-slide--2 {
    background-image: url('../../img/hero/hero-2-tablet.jpg');
    background-color: #6c90b8;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    @media (min-resolution: $retina) {
      background-image: url("../../img/hero/hero-2-tablet@2x.jpg"), 768px auto;
    }
  }

  .swiper-1 .swiper-slide--3 {
    background-image: url('../../img/hero/hero-3-tablet.jpg');
    background-color: #6c90b8;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    @media (min-resolution: $retina) {
      background-image: url("../../img/hero/hero-3-tablet@2x.jpg"), 768px auto;
    }
  }

  .swiper-1 .swiper-slide__wrapper {
    min-height: 1034px;
    padding-top: 40px;
  }

  .swiper-1 .swiper-slide__wrapper p {
    width: 500px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 13px;
  }

  .swiper-1 .swiper-slide__button {
    margin-top: 36px;
  }

  .swiper-1 .swiper-slide__img{
    display: block;
    margin: 0 auto;

    &--1 {
      margin-top: 45px;
      margin-right: 190px;
    }

    &--2 {
      position: absolute;
      top: 51%;
      left: 48%;
    }
  }

  .swiper-1 .swiper-pagination {
    bottom: 40px;
  }

  .swiper-1 .swiper-pagination-bullet {
    width: 20px;
    height: 20px;
  }
}

@media (min-width: $width-desktop) {
  .hero {
    width: 100%;
  }

  .swiper-1 .swiper-slide {
    text-align: start;
    position: relative;
  }

  .swiper-1 .swiper-slide--1 {
    background-image: url('../../img/hero/hero-1-desktop.jpg');
    background-color: #6c90b8;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    @media (min-resolution: $retina) {
      background-image: url("../../img/hero/hero-1-desktop@2x.jpg"), 768px auto;
    }
  }

  .swiper-1 .swiper-slide--2 {
    background-image: url('../../img/hero/hero-2-desktop.jpg');
    background-color: #6c90b8;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    @media (min-resolution: $retina) {
      background-image: url("../../img/hero/hero-2-desktop@2x.jpg"), 768px auto;
    }
  }

  .swiper-1 .swiper-slide--3 {
    background-image: url('../../img/hero/hero-3-desktop.jpg');
    background-color: #6c90b8;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    @media (min-resolution: $retina) {
      background-image: url("../../img/hero/hero-3-desktop@2x.jpg"), 768px auto;
    }
  }

  .swiper-1 .swiper-slide__wrapper {
    min-height: 800px;
    align-items: start;
    padding-top: 200px;
    padding-bottom: 80px;
  }

  .swiper-1 .swiper-slide__wrapper h2 {
    max-width: 944px;
  }

  .swiper-1 .swiper-slide__wrapper p {
    max-width: 464px;
    margin: 0;
    margin-top: 25px;
  }

  .swiper-1 .swiper-slide__img {
    margin: 0;

    &--1 {
      position: absolute;
      top: 23%;
      right: 15.5%;
    }

    &--2 {
      position: absolute;
      top: 34%;
      left: 74%;
    }
  }

  .swiper-1 .swiper-info {
    @include list-reset;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 132px;
    max-width: 450px;
  }

  .swiper-1 .swiper-info__item {
    @include text-xsmall;
    padding: 13px 19px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    display: flex;
    align-items: center;
    gap: 8px;
    max-width: 200px;
  }

  .swiper-1 .swiper-info__icon {
    display: block;
    min-width: 12px;
    height: 12px;

    &--days {
      background-image: url('/__spritemap__#sprite-moon-view');
      background-position: left center;
      background-repeat: no-repeat;
      background-size: 12px;
    }

    &--level {
      background-image: url('/__spritemap__#sprite-level-view');
      background-position: left;
      background-repeat: no-repeat;
    }
  }

  .swiper-1 .swiper-pagination {
    bottom: 93px;
    left: 88%;
  }
}
