.nav {
  margin: 0 auto;
  background: $secondary-background-color;
  width: 100%;
  padding: 15px 15px 50px;
}

.nav__list {
  @include list-reset;

  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 16px;
}

.nav__link {
  @include nav;

  color: $secondary-text-color;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 0.56px;
}

.nav__link:hover {
  padding-bottom: 3px;
  border-bottom: 1px solid $secondary-text-color;
}

.nav__link:focus-visible {
  outline: 1px solid $secondary-text-color;
  outline-offset: 3px;
}

.nav__link:active {
  color: $active-button-color;
  border-bottom: none;
}

.nav__link.disabled {
  color: $disabled-button-color;
  pointer-events: none;
  cursor: default;
}

.nav__list--light-bg {
  @include list-reset;

  display: grid;
  grid-template-columns: repeat(2, 120px);
  column-gap: 50px;
  row-gap: 9px;
  text-align: center;
}

.nav__list--light-bg .nav__item:nth-child(2) {
  grid-column: 1 / 2;
}

.nav__list--light-bg .nav__item:nth-child(3) {
  grid-column: 1 / 2;
}

.nav__list--light-bg .nav__item:nth-child(4) {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
}

.nav__list--light-bg .nav__item:nth-child(5) {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}

.nav__list--light-bg .nav__link {
  color: $primary-text-color;
}

.nav__list--light-bg .nav__link:hover {
  border-bottom: 1px solid $primary-text-color;
}

.nav__list--light-bg .nav__link:focus-visible {
  outline: 1px solid $primary-text-color;
}

.nav__list--light-bg .nav__link:active {
  color: $primary-button-color;
}

@media (min-width: $width-tablet) {
  .nav {
    padding: 31px 45px 66px;
  }

  .nav__list {
    gap: 22px;
  }

  .nav__link {
    letter-spacing: 0.64px;
  }
}


@media (min-width: $width-desktop) {
  .nav {
    padding: 0;
    padding-top: 12px;
    width: auto;
  }

  .nav__list {
    gap: 31px;
    flex-direction: row;
  }

  .nav__link {
    text-transform: none;
    font-weight: 400;
    letter-spacing: 0;
  }
}
