.reviews__wrapper {
  padding-top: 36px;
}

.reviews__wrapper-navigation {
  display: none;
}

.reviews__title {
  @include h2;
}

.swiper-4 {
  width: 320px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 16px;
  overflow: hidden;
  z-index: 1;
  position: relative;
  padding: 15px 16px 15px 14px;
  box-sizing: border-box;
}

.swiper-4 .swiper-wrapper {
  @include list-reset;
  width: 320px;
}

.swiper-4 .swiper-slide {
  background: $primary-background-color;
  border: 1px solid rgba(255, 255, 255, 1);
  box-shadow: 0 0 20px 0 rgba(28, 51, 116, 0.1);
  padding: 20px;
  width: 290px;
}

.swiper-4 .swiper-slide__img {
  display: block;
  object-fit: cover;
}

.swiper-4 .swiper-slide p {
  @include text-xsmall;
  margin-top: 19px;
}

.swiper-4 .swiper-slide p:not(:first-child) {
  margin-top: 10px;
}

.swiper-4 .swiper-slide h3 {
  @include captions-big;
  font-size: 12px;
  line-height: 12px;
  margin-top: 16px;
}

.swiper-4 .swiper-slide span {
  @include captions-small;
  display: block;
  margin-top: 7px;
}

@media (min-width: $width-tablet) {
  .swiper-4 {
    width: 565px;
  }
}
