.social-button {
  padding: 1px 4px;
  border: 1px solid rgba(45, 56, 63, 0.3);
  cursor: pointer;
  min-width: 24px;
}

.social-icon use {
  fill: $primary-icon-color;
}

.social-button:hover {
  border: 1px solid $primary-icon-color;
}

.social-button:focus-visible {
  border: none;
  outline: none;
}

.social-button:active {
  background: $secondary-icon-color;
  border: none;
}

.social-button:active use {
  fill: $light-bg-icon-color;
}

.social-button.disabled {
  background: $primary-background-color;
  border: 1px solid $disabled-button-color;
  pointer-events: none;
}

.social-button.disabled use {
  fill: $disabled-button-color;
}

.social {
  @include list-reset;

  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  max-width: 290px;
  justify-content: center;
}

.social__item {
  width: 32px;
  height: 30px;
}

.social__link {
  padding: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (min-width: $width-tablet) {
  .social {
    max-width: 678px;
  }
}

@media (min-width: $width-desktop) {
  .social {
    max-width: 800px;
    margin: 0 auto;
  }
}
