.tours {
  background: url("../../img/backgrounds/tours-bg-mobile.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right 7px;

  @media (min-resolution: $retina) {
    background-image: url("../../img/backgrounds/tours-bg-mobile@2x.jpg"), 346px auto;
  }
}

.tours__wrapper {
  padding-top: 38px;
  padding-bottom: 20px;
  word-break: break-word;
}

.tours__title {
  @include h2;
}

.swiper-2 {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 39px;
  overflow: hidden;
  z-index: 1;
  position: relative;
}

.swiper-2 .swiper-slide {
  position: relative;
  height: 416px;

  &::after {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.6) 22.3%, rgba(0, 0, 0, 0) 60.32%);
  }
}

.swiper-2 .swiper-slide--3 {
  &::before {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.2);
  }

  &::after {
    display: none;
  }
}

.swiper-2 .swiper-slide__wrapper {
  width: 250px;
  position: absolute;
  padding-top: 15px;
  padding-bottom: 28px;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 3;
  max-height: 416px;
  overflow-x: hidden;
  overflow-y: auto;
  word-break: break-word;
  color: $secondary-text-color;
}

.swiper-2 .swiper-wrapper {
  @include list-reset;
}

.swiper-2 .swiper-slide__img {
  object-fit: cover;
  display: block;
}

.swiper-2 .swiper-slide__wrapper-days {
  @include captions-medium;

  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.swiper-2 .swiper-slide__geo {
  margin: 0;
  padding: 8px 13px 8px 16px;
  background: $primary-button-color;
  display: flex;
  gap: 6px;
}

.swiper-2 .swiper-slide__geo-icon {
  display: block;
  min-width: 12px;
  height: 12px;
  background-image: url("/__spritemap__#sprite-pin-view");
  background-position: left center;
  background-repeat: no-repeat;
  background-size: 9px;
}

.swiper-2 .swiper-slide__wrapper-inline {
  display: inline;
}

.swiper-2 .swiper-slide__wrapper-days-info {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

.swiper-2 .swiper-slide__days {
  margin: 0;
  display: flex;
  gap: 11px;
  align-items: center;
}

.swiper-2 .swiper-slide__days-icon {
  &--day {
    background-image: url("/__spritemap__#sprite-sun-view");
    background-position: left center;
    background-repeat: no-repeat;
    background-size: 22px;
    width: 21px;
    height: 22px;
  }

  &--night {
    background-image: url("/__spritemap__#sprite-moon-view");
    background-position: left center;
    background-repeat: no-repeat;
    background-size: 18px;
    width: 20px;
    height: 18px;
  }
}

.swiper-2 .swiper-slide__title {
  @include card-title;

  margin-top: 16px;
}

.swiper-2 .swiper-slide__wrapper-info {
  margin-top: 30px;
  position: relative;
  width: 250px;
  display: grid;
  grid-template-columns: 84px 83px 69px;
  grid-template-rows: repeat(2, 1fr);
  column-gap: 8px;
  row-gap: 7px;

  &::before {
    content: "";
    width: 80px;
    height: 1px;
    background: $secondary-text-color;
    position: absolute;
    top: -15px;
  }
}

.swiper-2 .swiper-slide__item {
  @include captions-small;

  &--3-stars {
    @include captions-big;

    grid-column: 1 / 2;
    grid-row: 2 / 3;
    background: url("/__spritemap__#sprite-3-stars-view");
    width: 84px;
    height: 16px;
    margin-top: -3px;
  }

  &--4-stars {
    @include captions-big;

    grid-column: 1 / 2;
    grid-row: 2 / 3;
    background: url("/__spritemap__#sprite-4-stars-view");
    width: 84px;
    height: 16px;
    margin-top: -3px;
  }

  &--5-stars {
    @include captions-big;

    grid-column: 1 / 2;
    grid-row: 2 / 3;
    background: url("/__spritemap__#sprite-5-stars-view");
    width: 84px;
    height: 16px;
    margin-top: -3px;
  }

  &--data-numbers {
    @include captions-big;

    grid-column: 2 / 3;
    grid-row: 2 / 3;
  }

  &--group-numbers {
    @include captions-big;
  }
}

.tours__wrapper-navigation {
  display: none;
}

.tours__button-more {
  @include button-big;

  margin-top: 28px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 215px;
}

.tours__button-more-icon {
  min-width: 10px;
}

@media (min-width: $width-tablet) {
  .tours {
    background: transparent;

    @media (min-resolution: $retina) {
      background-image: none;
    }
  }

  .tours__wrapper {
    padding-top: 60px;
    padding-bottom: 40px;
  }

  .swiper-2 {
    margin-top: 25px;
  }

  .swiper-2 .swiper-slide__img {
    width: 330px;
  }

  .swiper-2 .swiper-slide__wrapper {
    width: 290px;
    padding-bottom: 29px;
  }

  .swiper-2 .swiper-slide__title {
    max-width: 242px;
    margin-top: 17px;
  }

  .swiper-2 .swiper-slide__wrapper-info {
    width: 289px;
    column-gap: 27.5px;
    margin-top: 29.5px;
  }

  .tours__wrapper-title {
    display: flex;
    justify-content: space-between;
  }

  .tours__wrapper-navigation {
    display: block;
  }

  .tours__button-more {
    width: 100%;
    margin-top: 26px;
    justify-content: center;
    gap: 12px;
    padding-left: 12px;
  }
}

@media (min-width: $width-desktop) {
  .tours__wrapper {
    padding-top: 123px;
    padding-bottom: 100px;
  }

  .swiper-2 {
    margin-top: 50px;
  }

  .swiper-2 .swiper-slide__img {
    width: 380px;
  }

  .swiper-2 .swiper-slide__wrapper {
    width: 340px;
  }

  .swiper-2 .swiper-slide__wrapper-info {
    width: 340px;
    column-gap: 53px;
  }

  .tours__button-more {
    margin-top: 53px;
  }
}
