.training__wrapper {
  padding-top: 36px;
  padding-bottom: 20px;
}

.training__title {
  @include h2;
}

.training__wrapper p {
  @include text-regular;
  margin-top: 33px;
}

.training__wrapper h3 {
  @include h2;
}

.training__wrapper-title {
  margin-top: 28px;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.training__wrapper-navigation {
  display: none;
}

.training__slider {
  margin-top: 23px;
}

.swiper-3 {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  z-index: 1;
  position: relative;
}

.swiper-3 .swiper-wrapper {
  @include list-reset;
}

.swiper-3 .swiper-slide {
  padding: 15px;
  background: $primary-background-color;
  border: 1px solid rgba(2, 102, 193, 0.1);
  min-height: 356px;
}

.swiper-3 .swiper-slide__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 11px;
}

.swiper-3 .swiper-slide__wrapper h4 {
  @include training-card-title;
}

.swiper-3 .swiper-slide span {
  @include text-xsmall;
  display: block;
  line-height: 16px;
  margin-top: 14px;
}

.training__process-title {
  @include h5;
  margin-top: 25px;
}

.training__process-list {
  @include list-reset;
  display: grid;
  gap: 25px;
  margin-top: 25px;
  position: relative;

  &::before {
    content: '';
    position: absolute;
    width: 2px;
    height: 183px;
    background: $secondary-icon-color;
    top: 15px;
    left: 6px;
  }
}

.training__process-item {
  @include text-small;
  max-width: 267px;
  display: flex;
  padding-left: 30px;
  position: relative;

  &::before {
    content: '';
    position: absolute;
    width: 14px;
    height: 14px;
    border-radius: 100%;
    background: $secondary-icon-color;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
  }
}

.training__process-icon {
  &--map {
    background-image: url('/__spritemap__#sprite-map-view');
    background-position: left center;
    background-repeat: no-repeat;
    background-size: 25px;
    min-width: 40px;
    height: 25px;
  }

  &--boots {
    background-image: url('/__spritemap__#sprite-boots-view');
    background-position: left center;
    background-repeat: no-repeat;
    background-size: 25px;
    min-width: 40px;
    height: 25px;
  }

  &--trees {
    background-image: url('/__spritemap__#sprite-trees-view');
    background-position: left center;
    background-repeat: no-repeat;
    background-size: 25px;
    min-width: 40px;
    height: 25px;
  }

  &--mountain {
    background-image: url('/__spritemap__#sprite-mountain-view');
    background-position: left center;
    background-repeat: no-repeat;
    background-size: 25px;
    min-width: 40px;
    height: 25px;
  }
}

@media (min-width: $width-tablet) {
  .training__wrapper {
    padding-top: 59px;
    padding-bottom: 40px;
  }

  .training__wrapper-navigation {
    display: block;
  }

  .swiper-3 {
    margin-top: 30px;
  }

  .training__wrapper p {
    margin-top: 33px;
  }

  .training__wrapper-title {
    margin-top: 28px;
    align-items: normal;
  }

  .training__wrapper-title h3 {
    padding-top: 3px;
  }

  .swiper-3 .swiper-slide {
    width: 212.67px;
    min-height: 388px;
  }

  .swiper-3 .swiper-slide__img {
    width: 182.67px;
    height: 200px;
    object-fit: cover;
  }

  .training__process-list {
    grid-template-columns: 231px 272px;
    column-gap: 175px;
    row-gap: 104px;
    margin-top: 104px;

    &::before {
      display: none;
    }
  }

  .training__process-item:first-child {
    order: -2;
  }

  .training__process-item:last-child {
    order: -1;
  }

  .training__process-item {
    padding-left: 0;

    &::before {
      display: none;
    }
  }
}

@media (min-width: $width-desktop) {
  .training__wrapper {
    padding-top: 62px;
  }

  .training__wrapper p {
    max-width: 820px;
    margin-top: 31px;
  }

  .training__wrapper-title {
    margin-top: 62px;
  }

  .swiper-3 {
    margin-top: 15px;
  }

  .swiper-3 .swiper-slide__img {
    width: 255px;
  }

  .training__process-list {
    grid-template-columns: repeat(4, 243.33px);
    column-gap: 10px;
    margin-top: 29px;
    padding-left: 10px;

    &::after {
      content: '';
      position: absolute;
      width: 1185px;
      height: 2px;
      background: $secondary-icon-color;
      left: 20px;
      bottom: -11%;
    }
  }

  .training__process-item:first-child {
    order: 0;
  }

  .training__process-item:last-child {
    order: 0;
  }

  .training__process-item {
    &::before {
      content: '';
      display: block;
      top: 110%;
      left: 4%;
      transform: translateY(-50%);
    }
  }
}
