// Устройства
$width-mobile: 320px;
$width-tablet: 768px;
$width-desktop: 1440px;

// Цвета текстов
$primary-text-color: #2d383f;
$secondary-text-color: #ffffff;

// Цвета кнопок
$primary-button-color: #0266c1;
$secondary-button-color: #2d383f;
$hover-button-color: #ffffff;
$active-button-color: #1c3374;
$disabled-button-color: #999999;

// Цвета фонов
$primary-background-color: #ffffff;
$secondary-background-color: #0266c1;

// Цвета иконок
$primary-icon-color: #2d383f;
$secondary-icon-color: #0266c1;
$light-bg-icon-color: #ffffff;

// Шрифты
$primary-font: "Montserrat", "Lato", sans-serif;

// Retina
$retina: 2dppx;
